body{

    background: chocolate
}

.class-div1{
    text-align: center;
}

.class-div{
    background: aquamarine;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 300px;
    margin-left: 450px;
    margin-right: 450px;
    border-color: blueviolet;
    border-style: solid ;
    border-radius: 5mm
}

#task{
    margin-top: 4mm;
    width: 65mm;
    padding: 2mm;
    border-radius: 5mm;
}
#addTask{
    margin-top: 4mm;
    height: 8mm;
    width: 70mm;
    border-radius: 5mm;
    background: darkslateblue;
}

#deleteTask{
    margin-top: 4mm;
    height: 8mm;
    width: 70mm;
    border-radius: 5mm;
    background: red
}
